@{
    ViewData["Title"] = "No encontrado";
}

<span><img style="max-height:200px ; display:inline-block" src="~/img/1178479.png" /></span>
<span><h1 class="m-5">El recurso solicitado no fue encontrado</h1></span>


<a asp-action="Index" asp-controller="TipoCuenta" class="m-5 btn btn-primary">Volver</a>